<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<meta name="viewport" content="width=device-width">
  <div class="col-lg-3 col-md-3 col-sm-2 col-xs-12 idioma">
    <select name="idioma" id="idioma">
      <option value ="en" data-input="en" >English</option>
      <option value ="fr" data-input="fr">Français</option>
    </select>
  </div>
  
  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
