<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div align="right" class="footer-col footer-col-5">
      Data feeds - News - Tools for Tech - Finance - Economics
    </div>
  </div>
  
  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-10">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- endif -%}
           </li>
        </ul>
      </div>

      <div class="footer-col footer-col-10>
        {%- include social.html -%}
      </div>
    
    </div>
  </div>

</footer>
