<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <h3 class="footer-heading">{{ site.description[page.lang] }}</h3>
  </div>
  
  {% if page.layout != 'index' %}
    {% assign posts=site.posts | where:"lang-ref", page.lang-ref | sort: 'lang' %}
    {% if posts.size == 0 %}
        {% assign posts=site.pages | where:"lang-ref", page.lang-ref | sort: 'lang' %}
    {% endif %}
  {% endif %}
  
  <div class="wrapper">
    
    <div class="footer-col-wrapper">
      <div align="left" class="footer-col footer-col-5">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- endif -%}
           </li>
        </ul>
      </div>

      <div align="right" class="footer-col footer-col-5>
        {%- include social.html -%}
      </div>
    
    </div>
  </div>

</footer>
