<div class="col-1-3">
        <small class="code-label">Contact</small>
        <div id='formview'>
<form method="POST" action="https://formspree.io/srocha.luis@gmail.com" class="cform">
  <input type="email" name="email" placeholder="Your email" />
  <textarea name="message" placeholder="Your Message"></textarea>
  <input type="hidden" name="_subject" value="request" />
  <input type="text" name="_gotcha" style="display:none" />
  <button type="submit">Send</button>
</form>
        </div>
      </div>


<form method="POST" action="https://formspree.io/srocha.luis@gmail.com" class="cform">
  <input type="email" name="email" placeholder="Your email address" />
  <textarea name="message" placeholder="Your message"></textarea>
  <input type="hidden" name="_subject" value="request" />
  <input type="text" name="_gotcha" style="display:none" />
  <button type="submit">Send</button>
</form>
