<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<meta name="viewport" content="width=device-width">
  {%- include head.html -%}

  <body>
    
    <script>
    var lang = navigator.language || navigator.userLanguage;
    if (lang.indexOf('de') == 0)
        window.location = '/fr/';
    else
        window.location = '/en/';
</script>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
