---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}
  
  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
       Data, Posts and Links last updated :
  
  <p id="date"></p>
<script>
document.getElementById("date").innerHTML = "  @  " + Date();
</script>
  
######         <script>
######      function startTime() {
######        var today = new Date();
######        var y = today.getFullYear();
######        var mm = today.getUTCMonth();
######        var d = today.getUTCDate();
######        var h = today.getHours();
######        var m = today.getMinutes();
######        m = checkTime(m);
######        document.getElementById('txt').innerHTML =
######        y + "-" + mm + "-" + d + "  @  " + h + ":" + m;
######        var t = setTimeout(startTime, 500);
######        }
######          function checkTime(i) {
######          if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
######          return i;
######        }
######        </script>
######          <body onload="startTime()">
          <div id="txt"></div>
      <br />
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

</div>
