---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
        Data, Posts and Links last updated :
  <br />
  <p id="date"></p>
  <script>
    document.getElementById("date").innerHTML = 
    #  y + "-" + mm + "-" + d + "  @  " + h + ":" + m;
    Date();
  </script>

          <body onload="startTime()">
          <div id="txt"></div>

        </body>
      <br />
  <div class="navi-data-strip">
                <button class="navi-data-strip__play-pause-button is-playing" value="Play/Pause Toggle" aria-label="Play/Pause Toggle" aria-describedby="play-pause-button-description"></button>
                <span id="play-pause-button-description" style="display:none;">Press this button to toggle pause/play states.</span>
                <div class="navi-data-strip__ticker-viewport">
                    <div class="navi-data-strip__ticker-viewport-inner">
                        <ul class="navi-data-strip__tickers-list-first animate-tickers-left" style="left: -721.377197265625px"><li class="navi-data-strip__ticker">
            <a href="/quote/SP1:IND" class="navi-data-strip__ticker-link">
                <div class="navi-data-strip__ticker-label">S&amp;P 500 Futures</div>
                <div class="navi-data-strip__ticker-market-price">2797.20</div>
                <div class="navi-data-strip__ticker-direction navi-data-strip__ticker-direction--positive"></div>
                <div class="navi-data-strip__ticker-value navi-data-strip__ticker-value--positive">+8.200</div>
                <div class="navi-data-strip__ticker-value navi-data-strip__ticker-value--positive">+0.29%</div>
            </a>
        </li><li class="navi-data-strip__ticker">
            <a href="/quote/DM1:IND" class="navi-data-strip__ticker-link">
                <div class="navi-data-strip__ticker-label">Dow Jones Futures</div>
                <div class="navi-data-strip__ticker-market-price">25596</div>
                <div class="navi-data-strip__ticker-direction navi-data-strip__ticker-direction--positive"></div>
                <div class="navi-data-strip__ticker-value navi-data-strip__ticker-value--positive">+7</div>
                <div class="navi-data-strip__ticker-value navi-data-strip__ticker-value--positive">+0.03%</div>
            </a>
        </li><li class="navi-data-strip__ticker">
            <a href="/quote/SX5E:IND" class="navi-data-strip__ticker-link">
                <div class="navi-data-strip__ticker-label">Euro Stoxx 50 Pr</div>
                <div class="navi-data-strip__ticker-market-price">3303.95</div>
                <div class="navi-data-strip__ticker-direction navi-data-strip__ticker-direction--negative"></div>
                <div class="navi-data-strip__ticker-value navi-data-strip__ticker-value--negative">-0.490</div>
                <div class="navi-data-strip__ticker-value navi-data-strip__ticker-value--negative">-0.01%</div>
            </a>
        </li><li class="navi-data-strip__ticker">
            <a href="/quote/UKX:IND" class="navi-data-strip__ticker-link">
                <div class="navi-data-strip__ticker-label">FTSE 100</div>
                <div class="navi-data-strip__ticker-market-price">7151.15</div>
                <div class="navi-data-strip__ticker-direction navi-data-strip__ticker-direction--positive"></div>
                <div class="navi-data-strip__ticker-value navi-data-strip__ticker-value--positive">+20.530</div>
                <div class="navi-data-strip__ticker-value navi-data-strip__ticker-value--positive">+0.29%</div>
            </a>
        </li><li class="navi-data-strip__ticker">
            <a href="/quote/DAX:IND" class="navi-data-strip__ticker-link">
                <div class="navi-data-strip__ticker-label">DAX INDEX</div>
                <div class="navi-data-strip__ticker-market-price">11524.17</div>
                <div class="navi-data-strip__ticker-direction navi-data-strip__ticker-direction--negative"></div>
                <div class="navi-data-strip__ticker-value navi-data-strip__ticker-value--negative">-19.310</div>
                <div class="navi-data-strip__ticker-value navi-data-strip__ticker-value--negative">-0.17%</div>
            </a>
        </li><li class="navi-data-strip__ticker">
            <a href="/quote/NKY:IND" class="navi-data-strip__ticker-link">
                <div class="navi-data-strip__ticker-label">NIKKEI 225</div>
                <div class="navi-data-strip__ticker-market-price">21503.69</div>
                <div class="navi-data-strip__ticker-direction navi-data-strip__ticker-direction--positive"></div>
                <div class="navi-data-strip__ticker-value navi-data-strip__ticker-value--positive">+378.600</div>
                <div class="navi-data-strip__ticker-value navi-data-strip__ticker-value--positive">+1.79%</div>
            </a>
        </li><li class="navi-data-strip__ticker">
            <a href="/quote/SHCOMP:IND" class="navi-data-strip__ticker-link">
                <div class="navi-data-strip__ticker-label">SHANGHAI SE COMPOSITE</div>
                <div class="navi-data-strip__ticker-market-price">3060.31</div>
                <div class="navi-data-strip__ticker-direction navi-data-strip__ticker-direction--positive"></div>
                <div class="navi-data-strip__ticker-value navi-data-strip__ticker-value--positive">+33.315</div>
                <div class="navi-data-strip__ticker-value navi-data-strip__ticker-value--positive">+1.10%</div>
            </a>
        </li><li class="navi-data-strip__ticker">
            <a href="/quote/SPX:IND" class="navi-data-strip__ticker-link">
                <div class="navi-data-strip__ticker-label">S&amp;P 500</div>
                <div class="navi-data-strip__ticker-market-price">2791.52</div>
                <div class="navi-data-strip__ticker-direction navi-data-strip__ticker-direction--positive"></div>
                <div class="navi-data-strip__ticker-value navi-data-strip__ticker-value--positive">+8.220</div>
                <div class="navi-data-strip__ticker-value navi-data-strip__ticker-value--positive">+0.30%</div>
            </a>
        </li><li class="navi-data-strip__ticker">
            <a href="/quote/RTY:IND" class="navi-data-strip__ticker-link">
                <div class="navi-data-strip__ticker-label">RUSSELL 2000 INDEX</div>
                <div class="navi-data-strip__ticker-market-price">1549.84</div>
                <div class="navi-data-strip__ticker-direction navi-data-strip__ticker-direction--positive"></div>
                <div class="navi-data-strip__ticker-value navi-data-strip__ticker-value--positive">+0.96</div>
                <div class="navi-data-strip__ticker-value navi-data-strip__ticker-value--positive">+0.06%</div>
            </a>
        </li><li class="navi-data-strip__ticker">
            <a href="/quote/DXY:CUR" class="navi-data-strip__ticker-link">
                <div class="navi-data-strip__ticker-label">DOLLAR INDEX SPOT</div>
                <div class="navi-data-strip__ticker-market-price">96.94</div>
                <div class="navi-data-strip__ticker-direction navi-data-strip__ticker-direction--negative"></div>
                <div class="navi-data-strip__ticker-value navi-data-strip__ticker-value--negative">-0.280</div>
                <div class="navi-data-strip__ticker-value navi-data-strip__ticker-value--negative">-0.29%</div>
            </a>
        </li><li class="navi-data-strip__ticker">
            <a href="/quote/USDJPY:CUR" class="navi-data-strip__ticker-link">
                <div class="navi-data-strip__ticker-label">USD-JPY X-RATE</div>
                <div class="navi-data-strip__ticker-market-price">111.33</div>
                <div class="navi-data-strip__ticker-direction navi-data-strip__ticker-direction--negative"></div>
                <div class="navi-data-strip__ticker-value navi-data-strip__ticker-value--negative">-0.030</div>
                <div class="navi-data-strip__ticker-value navi-data-strip__ticker-value--negative">-0.03%</div>
            </a>
        </li><li class="navi-data-strip__ticker">
            <a href="/quote/EURUSD:CUR" class="navi-data-strip__ticker-link">
                <div class="navi-data-strip__ticker-label">EUR-USD</div>
                <div class="navi-data-strip__ticker-market-price">1.13</div>
                <div class="navi-data-strip__ticker-direction navi-data-strip__ticker-direction--positive"></div>
                <div class="navi-data-strip__ticker-value navi-data-strip__ticker-value--positive">+0.000</div>
                <div class="navi-data-strip__ticker-value navi-data-strip__ticker-value--positive">+0.02%</div>
            </a>
        </li><li class="navi-data-strip__ticker">
            <a href="/quote/XAU:CUR" class="navi-data-strip__ticker-link">
                <div class="navi-data-strip__ticker-label">Gold Spot   $/Oz</div>
                <div class="navi-data-strip__ticker-market-price">1300.89</div>
                <div class="navi-data-strip__ticker-direction navi-data-strip__ticker-direction--negative"></div>
                <div class="navi-data-strip__ticker-value navi-data-strip__ticker-value--negative">-0.69</div>
                <div class="navi-data-strip__ticker-value navi-data-strip__ticker-value--negative">-0.05%</div>
            </a>
        </li><li class="navi-data-strip__ticker">
            <a href="/quote/USGG10YR:IND" class="navi-data-strip__ticker-link">
                <div class="navi-data-strip__ticker-label">US 10-Year Bond Yield</div>
                <div class="navi-data-strip__ticker-market-price">2.602</div>
                <div class="navi-data-strip__ticker-direction navi-data-strip__ticker-direction--negative"></div>
                <div class="navi-data-strip__ticker-value navi-data-strip__ticker-value--negative">-0.038</div>
                <div class="navi-data-strip__ticker-value navi-data-strip__ticker-value--negative">-1.432%</div>
            </a>
        </li><li class="navi-data-strip__ticker">
            <a href="/quote/USGG2YR:IND" class="navi-data-strip__ticker-link">
                <div class="navi-data-strip__ticker-label">US 2 Year Yield</div>
                <div class="navi-data-strip__ticker-market-price">2.45</div>
                <div class="navi-data-strip__ticker-direction navi-data-strip__ticker-direction--negative"></div>
                <div class="navi-data-strip__ticker-value navi-data-strip__ticker-value--negative">-0.025</div>
                <div class="navi-data-strip__ticker-value navi-data-strip__ticker-value--negative">-0.99%</div>
            </a>
        </li><li class="navi-data-strip__ticker">
            <a href="/quote/LEGATRUU:IND" class="navi-data-strip__ticker-link">
                <div class="navi-data-strip__ticker-label">Bloomberg Barclays Global Aggregate Bond Index</div>
                <div class="navi-data-strip__ticker-market-price">483.40</div>
                <div class="navi-data-strip__ticker-direction navi-data-strip__ticker-direction--negative"></div>
                <div class="navi-data-strip__ticker-value navi-data-strip__ticker-value--negative">-0.006</div>
                <div class="navi-data-strip__ticker-value navi-data-strip__ticker-value--negative">-0.00%</div>
            </a>
        </li><li class="navi-data-strip__ticker">
            <a href="/quote/CL1:COM" class="navi-data-strip__ticker-link">
                <div class="navi-data-strip__ticker-label">WTI Future</div>
                <div class="navi-data-strip__ticker-market-price">57.17</div>
                <div class="navi-data-strip__ticker-direction navi-data-strip__ticker-direction--positive"></div>
                <div class="navi-data-strip__ticker-value navi-data-strip__ticker-value--positive">+0.300</div>
                <div class="navi-data-strip__ticker-value navi-data-strip__ticker-value--positive">+0.53%</div>
            </a>
        </li><li class="navi-data-strip__ticker">
            <a href="/quote/CO1:COM" class="navi-data-strip__ticker-link">
                <div class="navi-data-strip__ticker-label">BRENT Future</div>
                <div class="navi-data-strip__ticker-market-price">66.67</div>
                <div class="navi-data-strip__ticker-direction navi-data-strip__ticker-direction--positive"></div>
                <div class="navi-data-strip__ticker-value navi-data-strip__ticker-value--positive">+0.090</div>
                <div class="navi-data-strip__ticker-value navi-data-strip__ticker-value--positive">+0.14%</div>
            </a>
        </li></ul>
                        <ul class="navi-data-strip__tickers-list-second animate-tickers-left" style="left: -721.377197265625px"><li class="navi-data-strip__ticker">
            <a href="/quote/SP1:IND" class="navi-data-strip__ticker-link">
                <div class="navi-data-strip__ticker-label">S&amp;P 500 Futures</div>
                <div class="navi-data-strip__ticker-market-price">2797.20</div>
                <div class="navi-data-strip__ticker-direction navi-data-strip__ticker-direction--positive"></div>
                <div class="navi-data-strip__ticker-value navi-data-strip__ticker-value--positive">+8.200</div>
                <div class="navi-data-strip__ticker-value navi-data-strip__ticker-value--positive">+0.29%</div>
            </a>
        </li><li class="navi-data-strip__ticker">
            <a href="/quote/DM1:IND" class="navi-data-strip__ticker-link">
                <div class="navi-data-strip__ticker-label">Dow Jones Futures</div>
                <div class="navi-data-strip__ticker-market-price">25596</div>
                <div class="navi-data-strip__ticker-direction navi-data-strip__ticker-direction--positive"></div>
                <div class="navi-data-strip__ticker-value navi-data-strip__ticker-value--positive">+7</div>
                <div class="navi-data-strip__ticker-value navi-data-strip__ticker-value--positive">+0.03%</div>
            </a>
        </li><li class="navi-data-strip__ticker">
            <a href="/quote/SX5E:IND" class="navi-data-strip__ticker-link">
                <div class="navi-data-strip__ticker-label">Euro Stoxx 50 Pr</div>
                <div class="navi-data-strip__ticker-market-price">3303.95</div>
                <div class="navi-data-strip__ticker-direction navi-data-strip__ticker-direction--negative"></div>
                <div class="navi-data-strip__ticker-value navi-data-strip__ticker-value--negative">-0.490</div>
                <div class="navi-data-strip__ticker-value navi-data-strip__ticker-value--negative">-0.01%</div>
            </a>
        </li><li class="navi-data-strip__ticker">
            <a href="/quote/UKX:IND" class="navi-data-strip__ticker-link">
                <div class="navi-data-strip__ticker-label">FTSE 100</div>
                <div class="navi-data-strip__ticker-market-price">7151.15</div>
                <div class="navi-data-strip__ticker-direction navi-data-strip__ticker-direction--positive"></div>
                <div class="navi-data-strip__ticker-value navi-data-strip__ticker-value--positive">+20.530</div>
                <div class="navi-data-strip__ticker-value navi-data-strip__ticker-value--positive">+0.29%</div>
            </a>
        </li><li class="navi-data-strip__ticker">
            <a href="/quote/DAX:IND" class="navi-data-strip__ticker-link">
                <div class="navi-data-strip__ticker-label">DAX INDEX</div>
                <div class="navi-data-strip__ticker-market-price">11524.17</div>
                <div class="navi-data-strip__ticker-direction navi-data-strip__ticker-direction--negative"></div>
                <div class="navi-data-strip__ticker-value navi-data-strip__ticker-value--negative">-19.310</div>
                <div class="navi-data-strip__ticker-value navi-data-strip__ticker-value--negative">-0.17%</div>
            </a>
        </li><li class="navi-data-strip__ticker">
            <a href="/quote/NKY:IND" class="navi-data-strip__ticker-link">
                <div class="navi-data-strip__ticker-label">NIKKEI 225</div>
                <div class="navi-data-strip__ticker-market-price">21503.69</div>
                <div class="navi-data-strip__ticker-direction navi-data-strip__ticker-direction--positive"></div>
                <div class="navi-data-strip__ticker-value navi-data-strip__ticker-value--positive">+378.600</div>
                <div class="navi-data-strip__ticker-value navi-data-strip__ticker-value--positive">+1.79%</div>
            </a>
        </li><li class="navi-data-strip__ticker">
            <a href="/quote/SHCOMP:IND" class="navi-data-strip__ticker-link">
                <div class="navi-data-strip__ticker-label">SHANGHAI SE COMPOSITE</div>
                <div class="navi-data-strip__ticker-market-price">3060.31</div>
                <div class="navi-data-strip__ticker-direction navi-data-strip__ticker-direction--positive"></div>
                <div class="navi-data-strip__ticker-value navi-data-strip__ticker-value--positive">+33.315</div>
                <div class="navi-data-strip__ticker-value navi-data-strip__ticker-value--positive">+1.10%</div>
            </a>
        </li><li class="navi-data-strip__ticker">
            <a href="/quote/SPX:IND" class="navi-data-strip__ticker-link">
                <div class="navi-data-strip__ticker-label">S&amp;P 500</div>
                <div class="navi-data-strip__ticker-market-price">2791.52</div>
                <div class="navi-data-strip__ticker-direction navi-data-strip__ticker-direction--positive"></div>
                <div class="navi-data-strip__ticker-value navi-data-strip__ticker-value--positive">+8.220</div>
                <div class="navi-data-strip__ticker-value navi-data-strip__ticker-value--positive">+0.30%</div>
            </a>
        </li><li class="navi-data-strip__ticker">
            <a href="/quote/RTY:IND" class="navi-data-strip__ticker-link">
                <div class="navi-data-strip__ticker-label">RUSSELL 2000 INDEX</div>
                <div class="navi-data-strip__ticker-market-price">1549.84</div>
                <div class="navi-data-strip__ticker-direction navi-data-strip__ticker-direction--positive"></div>
                <div class="navi-data-strip__ticker-value navi-data-strip__ticker-value--positive">+0.96</div>
                <div class="navi-data-strip__ticker-value navi-data-strip__ticker-value--positive">+0.06%</div>
            </a>
        </li><li class="navi-data-strip__ticker">
            <a href="/quote/DXY:CUR" class="navi-data-strip__ticker-link">
                <div class="navi-data-strip__ticker-label">DOLLAR INDEX SPOT</div>
                <div class="navi-data-strip__ticker-market-price">96.94</div>
                <div class="navi-data-strip__ticker-direction navi-data-strip__ticker-direction--negative"></div>
                <div class="navi-data-strip__ticker-value navi-data-strip__ticker-value--negative">-0.280</div>
                <div class="navi-data-strip__ticker-value navi-data-strip__ticker-value--negative">-0.29%</div>
            </a>
        </li><li class="navi-data-strip__ticker">
            <a href="/quote/USDJPY:CUR" class="navi-data-strip__ticker-link">
                <div class="navi-data-strip__ticker-label">USD-JPY X-RATE</div>
                <div class="navi-data-strip__ticker-market-price">111.33</div>
                <div class="navi-data-strip__ticker-direction navi-data-strip__ticker-direction--negative"></div>
                <div class="navi-data-strip__ticker-value navi-data-strip__ticker-value--negative">-0.030</div>
                <div class="navi-data-strip__ticker-value navi-data-strip__ticker-value--negative">-0.03%</div>
            </a>
        </li><li class="navi-data-strip__ticker">
            <a href="/quote/EURUSD:CUR" class="navi-data-strip__ticker-link">
                <div class="navi-data-strip__ticker-label">EUR-USD</div>
                <div class="navi-data-strip__ticker-market-price">1.13</div>
                <div class="navi-data-strip__ticker-direction navi-data-strip__ticker-direction--positive"></div>
                <div class="navi-data-strip__ticker-value navi-data-strip__ticker-value--positive">+0.000</div>
                <div class="navi-data-strip__ticker-value navi-data-strip__ticker-value--positive">+0.02%</div>
            </a>
        </li><li class="navi-data-strip__ticker">
            <a href="/quote/XAU:CUR" class="navi-data-strip__ticker-link">
                <div class="navi-data-strip__ticker-label">Gold Spot   $/Oz</div>
                <div class="navi-data-strip__ticker-market-price">1300.89</div>
                <div class="navi-data-strip__ticker-direction navi-data-strip__ticker-direction--negative"></div>
                <div class="navi-data-strip__ticker-value navi-data-strip__ticker-value--negative">-0.69</div>
                <div class="navi-data-strip__ticker-value navi-data-strip__ticker-value--negative">-0.05%</div>
            </a>
        </li><li class="navi-data-strip__ticker">
            <a href="/quote/USGG10YR:IND" class="navi-data-strip__ticker-link">
                <div class="navi-data-strip__ticker-label">US 10-Year Bond Yield</div>
                <div class="navi-data-strip__ticker-market-price">2.602</div>
                <div class="navi-data-strip__ticker-direction navi-data-strip__ticker-direction--negative"></div>
                <div class="navi-data-strip__ticker-value navi-data-strip__ticker-value--negative">-0.038</div>
                <div class="navi-data-strip__ticker-value navi-data-strip__ticker-value--negative">-1.432%</div>
            </a>
        </li><li class="navi-data-strip__ticker">
            <a href="/quote/USGG2YR:IND" class="navi-data-strip__ticker-link">
                <div class="navi-data-strip__ticker-label">US 2 Year Yield</div>
                <div class="navi-data-strip__ticker-market-price">2.45</div>
                <div class="navi-data-strip__ticker-direction navi-data-strip__ticker-direction--negative"></div>
                <div class="navi-data-strip__ticker-value navi-data-strip__ticker-value--negative">-0.025</div>
                <div class="navi-data-strip__ticker-value navi-data-strip__ticker-value--negative">-0.99%</div>
            </a>
        </li><li class="navi-data-strip__ticker">
            <a href="/quote/LEGATRUU:IND" class="navi-data-strip__ticker-link">
                <div class="navi-data-strip__ticker-label">Bloomberg Barclays Global Aggregate Bond Index</div>
                <div class="navi-data-strip__ticker-market-price">483.40</div>
                <div class="navi-data-strip__ticker-direction navi-data-strip__ticker-direction--negative"></div>
                <div class="navi-data-strip__ticker-value navi-data-strip__ticker-value--negative">-0.006</div>
                <div class="navi-data-strip__ticker-value navi-data-strip__ticker-value--negative">-0.00%</div>
            </a>
        </li><li class="navi-data-strip__ticker">
            <a href="/quote/CL1:COM" class="navi-data-strip__ticker-link">
                <div class="navi-data-strip__ticker-label">WTI Future</div>
                <div class="navi-data-strip__ticker-market-price">57.17</div>
                <div class="navi-data-strip__ticker-direction navi-data-strip__ticker-direction--positive"></div>
                <div class="navi-data-strip__ticker-value navi-data-strip__ticker-value--positive">+0.300</div>
                <div class="navi-data-strip__ticker-value navi-data-strip__ticker-value--positive">+0.53%</div>
            </a>
        </li><li class="navi-data-strip__ticker">
            <a href="/quote/CO1:COM" class="navi-data-strip__ticker-link">
                <div class="navi-data-strip__ticker-label">BRENT Future</div>
                <div class="navi-data-strip__ticker-market-price">66.67</div>
                <div class="navi-data-strip__ticker-direction navi-data-strip__ticker-direction--positive"></div>
                <div class="navi-data-strip__ticker-value navi-data-strip__ticker-value--positive">+0.090</div>
                <div class="navi-data-strip__ticker-value navi-data-strip__ticker-value--positive">+0.14%</div>
            </a>
        </li></ul>
                    </div>
                </div>
            </div>
            <br />
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

</div>
