---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
        Data, Posts and Links last updated :
  <br />
  <p id="date"></p>
  <script>
    document.getElementById("date").innerHTML = 
    #  y + "-" + mm + "-" + d + "  @  " + h + ":" + m;
    Date();
  </script>

          <body onload="startTime()">
          <div id="txt"></div>

        </body>
  <br />

<iframe height="25" scrolling="no" src="https://www.dailyforex.com/forex-widget/widget/29394" style="width: 400px; height:25px; display: block;border:0px;overflow:hidden;" width="400">
  </iframe>
  <span style="position:relative;display:block;text-align:center;color:#999999;width:400px;font-family:verdana,sans-serif;font-size:10px;"
        </span>

  <br />
      <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

</div>
