---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
          
        <div class="wrapper">
          <select class="selectpicker" data-width="fit">
            <option data-content='<span class="flag-icon flag-icon-us"></span> English'>English</option>
            <option data-content='<span class="flag-icon flag-icon-fr"></span> Français'>Français</option>
          </select>
        </div>
        
  </header>
  
  <div class="post-content">
    {{ content }}
  </div>
  
</article>
